<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<form action= "/" method="POST">
	<br>
	<br>
	<input type="text" name="author's name" placeholder="author's name">
	<br>
	<br>
	<input type="text" name="author's age" placeholder="author's age">
	<br>
	<br>
	<input type="text" name="enter a quote" placeholder=" enter a quote">
	<br>
	<br>
	<input type="submit" value="submit">	

</form>
<!-- Create your form here!
 -->
 
</body>
</html>